.slick-dots {
    margin-bottom: 2rem !important;
}

li.slick-active > button::before {
    color: #ff2a70 !important;
}

.slick-dots li button::before {
    color: white;
    opacity: 1;
}

.slick-arrow,
.slick-prev,
.slick-next {
    display: none !important;
}
